/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #fff ;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {logohead
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

li{
    list-style-type: none ; 
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Cabin', sans-serif, Arial;
    overflow-x: hidden;
    padding-bottom: 50px ; 
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    
}

img#logo{
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 20;
    width: 60px;
}

.footer-container,
.main aside {
}

.header-container,
.footer-container
{
    background: #0b80b7;
}

#container{

}

ul.breadcrumb{
    background-color: #fff ; 
    height: 20px ; 
    padding: 10px 20px 15px 20px ; 
    position: absolute ; 
    top : 80px ;
    left: -230px ; 
    transition: all 0.5s ease-in-out ;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
}

ul.breadcrumb.show{
    left: 0px ; 
}


ul.breadcrumb li{
    display: inline-block ; 
}

ul.breadcrumb li:first-child a{
    border-left: solid 5px #0b80b7;
    padding-left: 5px;
}

div#total_steps{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 2em ;
    margin-top: 70px; 
}

ul#links{
    z-index: 20 ; 
    position: absolute; 
    right: 10px; 
    top: 0px ; 
}

ul#links li{
    display: inline ; 
    margin-right: 5px ; 
}

ul#links li i{
    font-size: 1.em ;
}

.bar rect {
  fill: #5892C4;
  fill-opacity: 0.8 ;
}

.bar rect:hover{
  fill : #d86422 ;
}

.bar text.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}

#bars svg .tick text,#lines svg .tick text{
    font-size: .7em ; 
}

#bars svg .bar text{
    font-size: 0.6em ; 
    font-weight: bold ; 
}

div.line{
    position: absolute;
    width: 100% ; 
    height: 7px ; 
    z-index: 10;
}
div.line.top{
   top: 0px; 
}
div.line.bottom{
   bottom: 30px; 
}

div.line-hub{
    width: 16.6% ;
    height: 100% ; 
    float: left ; 
}

.nvd3 text{
    font-family: 'Cabin', sans-serif, Arial ; 
}


.tooltip_pedo{
  background: #fff;
  color: #333;
  display: none;
  left: 130px;
  padding: 0 10px 10px 10px ;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
  width: auto ; 
  opacity: 1;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
}

.tooltip_pedo h5,.tooltip_pie h5{
    font-size:0.8em ; 
}

table.table_bars{
    font-size: 0.7em ; 
}

table.table_bars td{
    padding: 1px 5px ; 
}

table.table_bars tr:first-child{
    background: #d86422 ; 
    color: #fff ; 
    font-weight: 700 ; 
}

table.table_bars tr:nth-child(even){
    background: #eee ; 
}

.tooltip_pie p{
    font-size: 0.7em ; 
    padding: 0 ; 
    margin: 0; 
}

#lines path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#lines .axis path,
#lines .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

footer h3{
    color: white ; 
}

a{
    color: #000 ; 
    text-decoration: none ; 
}

a:hover{
    color: #1e4273 ; 
    text-decoration: underline ; 
}

article footer a{
    color: #fabb00;
    text-decoration: underline;
}

article footer a:hover{
    color: #ccc ; 
}

p.center{
    text-align: center ; 
}

a.circle{
    background: #fff ; 
    border-radius: 60px;
    height: 110px;
    width: 110px;
    display: inline-block;
}

.title {
    font-weight: bold ; 
    font-size: 2em ; 
    text-align: center ; 
    width: 100% ; 
    margin: 0;
    z-index: 1;
    position: fixed;
    background: #F5F5F5;
    padding: 20px 0 25px 0;
    top: 0px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); 
}

header,footer{
    position: absolute ; 
}


header,footer{
    width: 100% ; 
    height: 30px ;
    background-color: #fff ; 
}

footer{
    bottom : 0 ;
}

.title img{
    height: 50px ;
    float: left ; 
    margin-left: 20px ;
    z-index: 10;
    position: absolute;
    left: 0; 
}

h1{
    margin: 0 ; 
    text-align: center ; 
    padding-top: 0px ;
    padding-left: 20px ; 
}

h2 span.square{
    display: inline-block;
    height: 20px;
    width: 35px;
    margin-right: 5px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    float: left;
    padding: 0px 5% 10px;
}

.main aside h2{
    color: #000 ; 
}

.footer-container footer {
    padding: 0px 0 0px 0;
    position: fixed;
    height: 25px;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul.social{
    float: right ; 
}

ul.social li{
    list-style-type: none ; 
}

ul.social li i{
    font-size: 1.2em ; 
}

h2{
    width: 100% ; 
    display: block ; 
    padding: 5px 10px ; 
    background: #ccc ;
    color: #fff ; 
}

select{
    margin: 0 5px ; 
    font-size: 0.8em;
    height: 25px;
}

.filter,.filter label,.filter select{
    float: right; 
}


.main header{
    -webkit-transition: min-height 1s; 
  -moz-transition: min-height 1s; 
  -ms-transition: min-height 1s; 
  -o-transition: min-height 1s; 
  transition: min-height 1s;  
    min-height: 500px ;
    padding-top: 200px; 
}

.main header.run{
    min-height: 0px ; 
    padding-top: 0px; 
}

div.cycler{
    width: 50% ; 
    display: inline-block ; 
    float: left ; 
}

.cycler img{
    margin: auto ;
    display: block ; 
    text-align: center ; 
}

section.container-statistics{
    float: left ; 
}

h3.daily{
    text-align: left ; 
    width: 100% ; 
    display: block ; 
    padding: 0px 35px ; 
    color: #d86422 ; 
    font-size: 1em ; 
    text-decoration: underline; 

}

table{
    margin: 0 20px ; 
    border: solid 1px #ddd ;
    font-size: 0.7em; 
}

table th, table td{
    padding: 0px 5px ; 
    text-align: left ; 
    vertical-align: top ; 
}

table th{
    color: #fff ; 
    background: #d86422 ; 
}
table td:first-child,table td:nth-child(3){
    width: 40px ; 
}

table tr:nth-child(odd){
    background: #F5F5F5 ; 
}

table td.green{
    color: green ; 
}

table td.red{
    color: red ; 
}

table td:last-child{
    width: 50px ; 
}

#proportions_pie .title-pie{
    font-size: 0.6em ; 
}

h4{
    text-align: left ; 
    font-size: 0.8em ; 
    padding-left: 20px ; 
}


.main-container{
    margin: auto ; 
    margin-top: 30px ; 
    padding: 100px 15px 0 10px ; 
}

.dataviz{
    min-height: 140px ; 
    display: inline-block ; 
    float: left;
}

.dataviz h3{
    text-align: left ; 
}

span.figure{
    font-size: 4em ; 
    margin-right: 20px ; 
    float: left ; 
    color: #999 ; 
}

.step ul li{
    display: inline-block;
    float: left;
    /*width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    background: #fabb00;*/
    margin-right: 5px; 
    margin-bottom: 5px ; 
}

.viz,.cycler{
    display: none ; 
}

path.pie:hover{
    fill-opacity: 1 ;
}

.step ul li i{
    color: #000 ; 
}

.about p i{
    margin-right: 10px ; 
}

ul#list-nb-step{
    display: block;
    position: absolute;
    left: 10px ;
    bottom: 10px ; 
    width: 250px ; 
    float: left;
    /* margin-left: 0px; */
    padding: 10px 35px 10px 10px;
}

#distance svg{
    margin-top: 20px ;
}

ol.legend li{
    font-style: italic;
    font-size: 11px ;
    line-height: 15px;
}

.disclaimer,.about{
    float: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {

    div.cycler{
        width: 100% ; 
    }

}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
    }

    .main article.viz{
        width: 70% ; 
    }

    .main article.disclaimer{
        width: 100%;
    }

    .main article.about{
        width: 100%  
    }

    .main aside {
        float: right;
        width: 18%;
        min-height: 600px;
    }

    div.cycler{
        width: 49%; 
   }
}

.weeks h3{
    font-size: 0.9em ; 
    text-align: center ; 
}

.weeks a{
    display: block; 
    width: 100% ; 
    background: #5892C4;
    color: #fff;
    text-align: center;
    font-size: 0.6em;
    font-weight: 800;
}

.weeks a.inactive{
    background: #F5F5F5  ; 
    color: #ccc ; 
    cursor: not-allowed;  
}

.weeks a.current{
    background: #d86422; 
}

.weeks .col-md-2{
    padding-right: 1px; 
    padding-left: 1px; 
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
   .dataviz{
        width: 49% ; 
   }

   div.cycler{
        width: 22%; 
   }

    .wrapper {
        width: 100%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .main-container{
        min-height: 580px ; 
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

img.loader{
    display: block;
    position: absolute ; 
    top: 35% ; 
    left: 50% ; 
    margin-left: -64px ; 
}

form.filters{
    color: #000 ;
    position: absolute;
    top: 62px;
    left: 50%;
    margin-left: -190px;
    background: #fff;
    width: 100%;
    z-index: 22;
}

form .filter{
    float: left ; 
}

form .filter-function{
    display: none ; 
}

form .filter-function select,form .filter-geography select{
    width: 200px; ; 
}

form .filter select[name="geography"] option.hub-country{
    padding-left: 15px ; 
}



 

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}