/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    body {
   
    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
      font-family: 'Lora', serif;
    }

    h1{
      padding: 20px ;
      margin-top: 0px ; 
    }

    footer{
      text-align: center ; 
    }

    path{
      stroke: rgba(0,0,0,0.7) ; 
      stroke-width: 0.5px ;
    }

    footer{
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
      height: 25px;
    }
    